<div class="mt-5">
  <h3 class="font-weight-bold text-center">YOUR LIBRARY</h3>
</div>

<div>

  <div class="row">
   <!--THis is left margin-->
    <div class="col-md-2"> </div>

    <!-- Main workign column-->
    <div class="col-md-8">

     
    
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

       
  

        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell class="lead font-weight-bold" *matHeaderCellDef> Cv Title </th>
          <td mat-cell *matCellDef="let element;let i = index"> {{element.title}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th id="actioncolumn"mat-header-cell class="lead font-weight-bold" *matHeaderCellDef> Action </th>
          <td  mat-cell *matCellDef="let element;let i = index"> 
          <button (click)="downloadPdf(i)"  class="btn btn-primary mr-2">Download As PDF</button>
          <button (click)="editBtn(i)" class="btn btn-secondary mr-2">Edit</button>
          <button (click)="deleteBtn(i)" class="btn btn-danger">Delete</button>
          
          
          </td>    
          
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

        <!--Go to cv Button-->
       <div class="d-flex justify-content-center">
        <button (click)="createCvBtn()" class= "gotoCVbtn btn btn-info mt-5 mb-4">Create a new CV</button>
      </div>

       
      
       
     



     <!--This is right margin column-->
     <div class="col-md-2"></div>

  
  </div>
</div>